*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

.lateral-menu {
  font-size: 0.9rem;
  background-color: #3a3a3a;
  flex: 0 0 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: margin-left 1s;
  color: #cdcdcd;
}

.user {
  font-size: 1.1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.lateral-menu.closed {
  margin-left: -300px;
}

.arrow-left-button {
  position: absolute;
  background-color: #3a3a3a;
  border: none;
  border-radius: 50%;
  padding: 8px;
  right: 0;
  cursor: pointer;
  transition: margin-right 1s;
}

.arrow-left-button.rotate {
  transform: rotate(180deg);
  margin-right: -70px;
  background-color: #252525;
}

.myprojects-elements:hover,
.myprojects-menu button:hover,
.arrow-left-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.arrow-left-button.rotate:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.create-task svg {
  display: inline;
  margin-right: 8px;
  vertical-align: text-bottom;
}

.create-task {
  border: none;
  background-color: #8cb4ff;
  color: #013491;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 10px;
  text-align: left;
  cursor: pointer;
}

.create-task:hover {
  background-color: #73a4fe;
}

main {
  background-color: #252525;
  flex: 1 1 auto;
}

.name-dialog {
  background-color: #2d2d2d;
  border: none;
  color: #cdcdcd;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 5px grey;
  border: 1px solid #a4a4a4;
}

.name-dialog::backdrop {
  background-color: rgb(0 0 0 / 40%);
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-input {
  width: 300px;
  background-color: #2d2d2d;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  padding: 8px 12px;
  color: #cdcdcd;
  outline: none;
}

.name-input:focus {
  border: 2px solid #8cb4ff;
}

.name-submit {
  width: fit-content;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #8cb4ff;
  color: #013491;
  cursor: pointer;
}

.name-submit:hover {
  background-color: #73a4fe;
}
.name-submit:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.myprojects-menu {
  display: flex;
  flex-direction: column;
}

.myprojects-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.myprojects-icons {
  display: flex;
  gap: 5px;
}

.arrow-down {
  /* for a weird reason the arrow is not in the middle*/
  display: flex;
  justify-content: center;
}

.myprojects-elements {
  display: flex;
  gap: 8px;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.myprojects-elements span {
  height: 15px;
  width: 15px;
  border: 1px solid #cdcdcd;
  display: inline-block;
  position: relative;
}

[type="checkbox"]:checked + span:before {
  content: "\2714";
  position: absolute;
  top: -5px;
  left: 0;
}

.myprojects-elements input {
  display: none;
}

.myprojects-menu button {
  border: none;
  width: 33px;
  background-color: #3a3a3a;
  color: #cdcdcd;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
}
