*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

.lateral-menu {
  font-size: 0.9rem;
  background-color: #3a3a3a;
  flex: 0 0 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: margin-left 1s;
  color: #cdcdcd;
}

.user {
  font-size: 1.1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.lateral-menu.closed {
  margin-left: -300px;
}

.arrow-left-button {
  position: absolute;
  background-color: #3a3a3a;
  border: none;
  border-radius: 50%;
  padding: 8px;
  right: 0;
  cursor: pointer;
  transition: margin-right 1s;
}

.arrow-left-button.rotate {
  transform: rotate(180deg);
  margin-right: -70px;
  background-color: #252525;
}

.calendar-button:hover,
.today-button:hover,
.myprojects-label:hover,
.myprojects-menu button:hover,
.arrow-left-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.arrow-left-button.rotate:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.calendar-button img,
.today-button img,
.create-task svg {
  display: inline;
  margin-right: 8px;
  vertical-align: text-bottom;
}

.create-task {
  border: none;
  background-color: #8cb4ff;
  color: #013491;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 10px;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s;
}

.create-task:hover {
  background-color: #73a4fe;
  transform: scale(1.05);
}

main {
  background-color: #252525;
  flex: 1 1 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 60px 50px;
}

.project-creation-dialog,
.name-dialog {
  background-color: #2d2d2d;
  border: none;
  color: #cdcdcd;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 5px grey;
  border: 1px solid #a4a4a4;
  max-width: 380px;
}

.project-creation-dialog::backdrop,
.name-dialog::backdrop {
  background-color: rgb(0 0 0 / 40%);
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.colors-select,
.project-input,
.name-input {
  width: 300px;
  background-color: #2d2d2d;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  padding: 8px 12px;
  color: #cdcdcd;
  outline: none;
}

.colors-select:focus,
.project-input:focus,
.name-input:focus {
  border: 2px solid #8cb4ff;
}
.cancel-project-button,
.done-project-button,
.name-submit {
  width: fit-content;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #8cb4ff;
  color: #013491;
  cursor: pointer;
}
.cancel-project-button {
  background-color: #ff8c8c;
  color: #910101;
}

.done-project-button:hover,
.name-submit:hover {
  background-color: #73a4fe;
}

.cancel-project-button:hover {
  background-color: #fe7373;
}

.done-project-button:disabled,
.name-submit:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.myprojects-menu {
  display: flex;
  flex-direction: column;
}

.myprojects-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.myprojects-icons {
  display: flex;
  gap: 4px;
}

.add-project-icon,
.arrow-down {
  /* for a weird reason the arrow is not in the middle*/
  display: flex;
  justify-content: center;
}

.myprojects-label {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.myprojects-label span {
  height: 15px;
  width: 15px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.red {
  border: 2px solid #fb6b6b;
}

.blue {
  border: 2px solid #5858fd;
}

.orange {
  border: 2px solid #fdc058;
}

.purple {
  border: 2px solid #be58fd;
}

.yellow {
  border: 2px solid #f2fd58;
}

.span-color {
  width: 20px;
  height: 20px;
}

[type="checkbox"]:checked + span:before {
  content: url("./images/check.svg");
  position: absolute;
  top: -4px;
  left: 1px;
}

.myprojects-label input {
  display: none;
}

.myprojects-menu button {
  border: none;
  width: 33px;
  background-color: #3a3a3a;
  color: #cdcdcd;
  cursor: pointer;
  border-radius: 50%;
  padding: 7px;
}

.myprojects-element.not-display {
  display: none;
}

.arrow-down.not-display {
  transform: rotate(-90deg);
}

.separator {
  border: 1px solid #cdcdcd30;
  width: 100%;
}

.project-creation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-creation-buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.project-creation-form-element {
  display: flex;
  flex-direction: column;
}

.project-input-count {
  align-self: end;
}

.project-creation-title {
  font-weight: bold;
}

.calendar-button,
.today-button {
  width: 100%;
  border: none;
  background-color: #3a3a3a;
  color: #cdcdcd;
  border-radius: 5px;
  font-weight: 600;
  padding: 8px 10px;
  text-align: left;
  cursor: pointer;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.number-task {
  font-size: 0.8rem;
  color: #cdcdcd;
}

.main-add-task {
  background-color: #252525;
  border: none;
  color: #cdcdcd;
  font-weight: 600;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.main-add-task:hover {
  color: #8cb4ff;
}
